@{
  Layout = "_Layout";
}

<div class="container">
  <h1>vendor Details: </h1>
  <br>
  <h3>@Model["order"].Title</h2>
  <h6>@Model["order"].Description</h2>
  <h6>@Model["order"].Price</h2>
  <h6>@Model["order"].Date.Month/@Model["order"].Date.Month/@Model["order"].Date.Year</h2>
  <br>
  <br>
  <h3>vendor: @Model["vendor"].Name</h3>
  <a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
  <a href='/vendors'>View all vendors</a>
</div>
@await Html.PartialAsync("Footer")

